.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
.logo { 
    text-decoration: none;
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-dark {
    color :#2E2F42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.header-list {
    list-style-type: none;
    color: #2e2f42;
}
.header-item {
text-decoration: none;
color: #2e2f42;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.32px;
list-style-type: none;
}
.nav-list:hover,
.nav-list:focus {
color: #404bbf
}
.address{
font-style: normal

}
.nav-list {
    font-style: normal;
    color: #2e2f42;
}
.contacts-link {
text-decoration: none;
color: #434455;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}
.contact-list {
    list-style-type:none;
}
.contacts-link:hover,
.contacts-link:focus {
color: #404bbf;
}
/* Fitst section*/
.main-section {
    background-color: #2e2f42;
}

.page-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.button:hover,
.button:focus{
background-color: #404bbf;
cursor: pointer;
}

.resources-titl {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
 
}

.resources {
    list-style-type: none;
}

.features {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
 
}
.item-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section-team {
    background-color: #f4f4fd;

}
.team {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
    background-color:#2E2F42
}
.our-team {
    background-color:#ffffff;
    list-style-type: none;

}
.names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.specialization {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



/*--Section 4--*/
.portfolio {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
}
.portfolio-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.portfolio-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.names {
    color:  #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.4px;
    list-style-type: none;
}

.our-portfolio {
    list-style-type: none; 
}
   

.footer {
    background-color: #2E2F42;
}
.logo-light {
    color:#F4F4FD;

}
.logo, logo-light {
    font-family: Raleway, sans-serif;
    line-height: 1.17;
}
.footer-subtitle {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
    

